* {
	list-style: none;
}

.cards {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 20px;
	width: 95%;
	margin: auto;
}


a {
	text-decoration: none;
	color: #646364;
}

a:hover {
	color: black;
	transition: 0.3s all ease;
}

.pais {
	text-decoration: underline;
}

.group {
	display: flex;
	align-items: center;
	padding: 0;
	gap: 20px;
}

.uil {
	font-size: 20px;
}

.navbar {
	display: grid;
	grid-template-columns: 1.2fr 0.8fr;
	width: 95%;
	margin: auto;
}

.search {
	width: 100%;
}

.search_group {
	position: relative;
}

.search_group input {
	padding: 0px 0px 0px 42px;
	height: 30px;
	width: 100%;

	outline: none;
	background: #f7f7f7;
	border: none;
	border-radius: 5px;
}

.search_group i {
	position: absolute;
	top: 2px;
	margin-left: 30px;
	width: auto;
}

.shopping_to {
	gap: 5px;
}

.datos {
	justify-content: flex-end;
}

.opciones .uil-heart:hover {
	color: red;
	transition: 0.5s;
}

.opciones .uil-shopping-bag:hover {
	color: #29bf12;
	transition: 0.5s;
}
